.navigation {
    background-color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    border: solid;
    border-color: black;
    border-width: 1px;
    color: black;
}

.navigation__container {
    display: flex;
}